<div id="admin_menu">
  <% unless @controllers.nil? %>
  	<div id="content_menu" class="left left_space">
  	  <%= link_to 'Content', '#', :id => 'content_menu_link' %>
  		<ul id="resource_list" class="plain grey1 hide">
  			<% @controllers.each do |controller| path = model_index_path(controller) %>
  				<li><%= link_to controller.titleize, path, :class => active_page(path) + " #{user_auth_status(controller, 'new')}#{controller == 'site_settings' ? ' access_denied' : ''}" %></li>
  			<% end %>
  		</ul>
  		<%= site_settings_link_for_menu %>
  	</div>
  <% end %>

  <div class="right right_space">
  	<div id="session_links">
  		<%= link_to_if current_user.nil?, 'Login', login_path do 
  			link_to current_user.name, user_path(current_user)
  		end unless current_page? login_path %>
		  |
  		<%= link_to_if current_user.nil?, 'Sign Up', signup_path do
        link_to 'Logout', logout_path
      end unless current_page? signup_path %>
  	</div>
  </div>
</div>