<% declare_content_for %>
<%= display_message flash %>

<h2>Manage Listings</h2>

<div class="stack">
  <%= render_model_helptext(controller_name) %>
</div>

<div class="stack">
  <% form_for :listings, :url => import_listings_path, :html => { :method => :post, :multipart => true } do |f| %>
    <fieldset>
      
      <div class="stack">
        <%= f.label :file, 'Import from file' %>
        <%= f.file_field :file %>
        <%= f.submit 'Go' %>
      </div>
      
    </fieldset>
  <% end %>
</div>

<h3><%= contextual_index_view_title %></h3>
<%= render :partial => 'shared/base_model_index', :locals => { :data => @listings } %>