<% declare_content_for %>
<% content_for :scripts, @Gmap.to_html %>
<%= display_message flash %>

<div class="staticContent">
  <h1 class="hidden">Self Storage Facility: <%= @listing.title.titleize %></h1>
  <a name="top" id="top"></a>
  
  <div id="type-one-r-col">
    <div id="type-three-r-col-in">
      
      <div id="sl-header">
        <h2><%= @listing.title.titleize %> in <%= @listing.city_and_state * ', ' %></h2>
        <p class="back-btn"><%= link_to 'Back to Results', :back %></p>
        <div class="clear"></div>
      </div>
      
      <div id="sl-fac-detail">
        <div id="sl-fac-detail-in-edit">
          <img src="/images/ui/storagelocator/bobs-logo.gif" alt="" width="164" height="120">
          
          <p class="address">
            <span>ADDRESS:</span><br>
            <%= @listing.map.address %><br>
            <%= @listing.map.city_state_zip %><br>
          </p>
          <p>
            <a href="#">www.website.com</a>
          </p>
          <div class="clear"></div>
          <p>
            <span>Category:</span> Type 1, Type 2, Type 3
          </p>
        </div>
      </div>
      
      <div id="sl-fac-dist">
        <div id="sl-fac-dist-in-edit">
          <p class="sl-phone">
            Call: 1800 1800 180
          </p>
          <p>
            Get 50% off your first month of rent!
          </p>
          <p class="sl-dist">
            We are just <span id="rslt-number"><span>2</span></span> miles from you!
          </p>
        </div>
      </div>
      <div class="clear"></div>
      
      <div id="sl-tabs">
        <div id="sl-tabs-in" class="tabular_content">
          <ul id="sl-tabs-nav" class="tabular">
            <li class="active">
              <a href="#" rel="sl-tabs-sizes">Unit Sizes</a>
            </li>
            <li>
              <a href="#" rel="sl-tabs-map">Map</a>
            </li>
            <li>
              <a href="#" rel="sl-tabs-feat">Features</a>
            </li>
            <li>
              <a href="#" rel="sl-tabs-pict">Pictures</a>
            </li>
          </ul>
          <div id="sl-tabs-sizes" class="tab_content">
            <div id="sl-tabs-sizes-in">
              <ul class="sl-table-head">
                <li class="st-size">Size
                </li>
                <li class="st-type">Type
                </li>
                <li class="st-pric">Price
                </li>
                <li class="st-spec">Special
                </li>
              </ul>

			<% 1.upto(5) do |i| %>
			<div class="sl-table-wrap">
              <ul class="sl-table open_reserve_form">
                <li class="st-size">5 x <%= i*5 %>
                </li>
                <li class="st-type">Climate controlled
                </li>
                <li class="st-pric">$36.00
                </li>
                <li class="st-spec">First Month Free
                </li>
                <li class="st-rese">
                  <a href="#" class="rsr-btn">Reserve</a>
                </li>
                <li class="st-sele">
                  <span class="hidden">Select</span>
                </li>
              </ul>
			  <div class="reserve_form hidden">
				<div class="sl-table-exp">
                 	<p class="blue-text">Make a reservation and we'll hold the unit for you. <a href="" class="blue-search-button">More info</a></p>
                     <% form_for Reservation.new do |f| %>
                     	<div class="sl-table-exp-form-l">
		 					<p>
								<%= label_tag 'reserver[first_name]', 'First Name', :class => 'block left w80' %>
								<%= text_field_tag 'reserver[first_name]', nil, :class => 'required' %>
							</p>
	      					<p>
								<%= label_tag 'reserver[last_name]', 'Last Name', :class => 'block left w80' %>
								<%= text_field_tag 'reserver[last_name]', nil, :class => 'required' %>
							</p>
	                        <p>
								<%= label_tag 'reserver[address]', 'Address', :class => 'block left w80' %>
								<%= text_field_tag 'reserver[address]', nil, :class => 'required' %>
							</p>
							<p>
								<%= label_tag 'reserver[city]', 'City', :class => 'block left w80' %>
								<%= text_field_tag 'reserver[city]', nil, :class => 'required' %>
							</p>
							<p>
								<%= label_tag 'reserver[state]', 'State', :class => 'block left w80' %>
								<%= select_tag 'reserver[state]', option_tags(States.all), :class => 'required' %>
							</p>
	                        <p class="zip">
								<%= label_tag 'reserver[zip]', 'Zip Code', :class => 'block left w80' %>
								<%= text_field_tag 'reserver[zip]', nil, :class => 'required numeric max_5', :maxlength => 5 %>
							</p>
	                      </div>
	                      <div class="sl-table-exp-form-r">            
							<p>
								<%= label_tag 'reserver[phone]', 'Phone', :class => 'block left w80' %>
								<%= text_field_tag 'reserver[phone]', nil, :class => 'numeric_phone' %>
							</p>
	      					<p>
								<%= label_tag 'reserver[email]', 'Email', :class => 'block left w80' %>
								<%= text_field_tag 'reserver[email]', nil, :class => 'email' %>
							</p>
	                        <p class="datepicker_wrap">
								<span class="hidden">Calendar</span>
								<%= label_tag 'reservation[start_date]', 'Move-In Date', :class => 'block left w80' %>
								<%= text_field_tag 'reservation[start_date]', nil, :id => "cal_#{i}", :class => 'mini_calendar numeric_date' %>
							</p>
							<p>
								<%= label_tag 'reservation[comment_attributes][comment]', 'Comments', :class => 'block left w80' %>
								<%= text_area_tag 'reservation[comment_attributes][comment]' %>
							</p>
	                        <div class="clear"></div>
		 					<p class="verisign"><span class="hidden">Verisign Secure</span></p>
							<p class="right"><input id="submit-btn" type="submit" value="Submit" name="commit" /></p>
						</div>
                     <% end %>
                 </div>
			  </div>
			 </div>
             <% end %>
            </div>
          </div>
          
          <div id="sl-tabs-map" class="tab_content">
            <div id="sl-tabs-map-in">
              <%= @Gmap.div :width => '700px', :height => '360px' %>
            </div>
            
            <ul>
              <li class="sl-map-dir">
                <%= link_to 'Get Directions', google_directions_link(@listing.map.full_address), :target => '_blank' %>
              </li>
              <li class="sl-map-pri"><a href="">Print map</a></li>
            </ul>
            <div class="clear"></div>
          </div>
          
          <div id="sl-tabs-feat" class="tab_content">
            <div id="sl-tabs-feat-in">
              <% 1.upto(12) do |i| %>
              <ul>
                <li><span>Item <%= i %></span></li>
                <li><span>Item 2</span></li>
              </ul><% end %>
              <div class="clear"></div>
            </div>
          </div>
          
          <div id="sl-tabs-pict" class="tab_content">
            <div id="sl-tabs-pict-in">
              <ul id="sl-tabs-pict-gall">
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
                <li><img src="/images/ui/storagelocator/example-gallery-tn.png"></li>
              </ul>
              <img src="/images/ui/storagelocator/example-gallery.png" class="big-pic">
            </div>
            <div class="clear"></div>
            
          </div>
        </div>
      </div>
      
      <div id="sl-extra">
        <h3>Lorem ipsum heading here</h3>
        <p>
          Lorem ipsum text can go here, Lorem ipsum text can go here, Lorem ipsum text can go here...
        </p>
      </div>
      
      <div id="sl-logos">
        <img src="/images/ui/storagelocator/test-logos.png" alt="recognitions">
      </div>
      <div id="sl-footer"></div>
      
    </div>
    
  </div>
</div>
