<fieldset>
	
	<div class="uncollapse stack">
		
		<% unless @user.profile_image.blank? %>
			<div class="right right_space">
				<%= link_to image_tag(@user.profile_image.image.url(:thumb), :alt => @user.name), @user.profile_image %>
			</div>
		<% end %>
		
		<div class="left stack right_space">
			<%= f.label :name %>
			<div class="shadow_wrap">
				<%= f.text_field :name, :class => 'required' %>
			</div>
		</div>

		<div class="left">
			<%= f.label :email %>
			<div class="shadow_wrap">
				<%= f.text_field :email, :class => 'email' %>
			</div>
		</div>
	  
	</div>
	
	<div class="half_fields uncollapse">
		<div class="left right_space stack">
			<%= f.label :password %>
			<div class="shadow_wrap">
				<%= f.password_field :password, :class => 'password' %>
			</div>
		</div>

		<div class="left stack">
			<%= f.label :password_confirmation %>
			<div class="shadow_wrap">
				<%= f.password_field :password_confirmation, :class => 'confirm' %>
			</div>
		</div>
		
		<% if allowed?('users', 'update', params) %>
		  <div class="stack">
  	    <%= f.label :role_id %>
  			<%= f.select :role_id, @roles.map { |r| [r.title, r.id] }, { :include_blank => true }, :class => 'required' %>
  	  </div>
  	<% end %>
	</div>
	
	<% unless @user.new_record? %>
  	<div class="stack">
  	  <p>
  	    <%= link_to 'Add Profile Image', "/ajax/get_partial?model=User#{@user.new_record? ? '' : '&id=' + @user.id.to_s}&partial=users/profile_image_fields", :class => 'insert_partial add_link icon16', :rel => 'profile_image_fields' %>
  	  </p>
  	  <div id="profile_image_fields"></div>
  	</div>
	<% end %>
	
</fieldset>