<fieldset id="<%= fields_title %>" class="<%= fields_title %>Fields <%= action_name %> <%= model.class.name %> subfields anchorListener">
	<legend>
		<%= link_to fields_title,
				{ :anchor => "#{enabled_models.blank? ? 'slideDown' : 'slideUp'}_collapseable_#{fields_title}Fields" }, 
				:class => "toggle_action toggle_right#{' toggle_down' unless enabled_models.blank?}", 
				:title => "Open #{fields_title}" %>
	</legend>
	
	<div class="collapseable<%= ' hide' if enabled_models.blank? %>">
		<div class="buttons grey_buttons">
			<%= link_to "New #{fields_title.singular}", new_model_path(fields_title.singular.underscore, return_here_and("show_collapseable_#{fields_title}Fields")), :class => 'small_option_link' %>
		</div>
		
		<% unless enabled_models.blank? %>
			<div class="enabled field_wrap shadow_wrap">
				<%= render :partial => assoc_partial(fields_title), 
						:locals => { :models => enabled_models, :precount => 0, :model => model, :model_field => model_field } %>
			</div>
			<% else %>
				<div class="enabled field_wrap shadow_wrap">
					<p class="center">No <%= fields_title %> Enabled</p>
				</div>
			<% end %>

		<% unless disabled_models.blank? %>
			<div class="disabled field_wrap shadow_wrap">
				<%= render :partial => assoc_partial(fields_title), 
						:locals => { :models => disabled_models, :precount => enabled_models.size, :model => model, :model_field => model_field } %>
			</div>
		<% else %>
			<div class="disabled field_wrap shadow_wrap">
				<p class="center">All <%= fields_title %> Enabled</p>
			</div>
		<% end %>
		
	</div>
	
</fieldset>
