<div class="uncollapse">
	<%= render :partial => 'shared/model_new_back_buttons' %>
	<%= render :partial => 'menus/view_type_links' unless data.blank? %>
</div>

<%= will_paginate @listings if paginated? %>
<%= render :partial => "#{view_types_dir}#{@default_view_type}", :locals => { :data => data } unless data.blank? %>
<%= will_paginate @listings if paginated? %>