<% declare_content_for %>
<%= display_message flash %>

<h1 class="hidden">Search results listing</h1>
<a name="top" id="top"></a>

<div id="type-one-r-col">
  <div id="type-three-r-col-in">
    
    <div id="sl-header">
      <h2><span>Overview -</span> Uncle Bob's Self Storage</h2>
    </div>
    
    <div id="ov-page-cnt">

      <div id="ov-top">
        <ul id="ov-top-list">
          <li>Account #: <span><%= @client.id %></span>
          </li>
          <li>Number of listings: <span><%= @client.listings.size %></span>
          </li>
        </ul>
      </div>
     
 	  <div id="ov-info" class="instant_form">
	
        <div id="ov-item-head">
          <h3><span>Owner Info</span></h3>
			
		  <%= image_tag '/images/ui/ajax-loader-facebook.gif', :class => 'ajax_loader' %>
          <p><a id="client_edit_contact" class="instant_submit" href="#">Edit</a></p>
        </div>

        <div id="ov-info-cnt">
          <p>Mailing Address</p>
          <ul>
            <li><span class="label">Name:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.name if @client.has_mailing_address? %></span></li>
            <li><span class="label">Company:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.company if @client.has_mailing_address? %></span></li>
            <li><span class="label">Address:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.address if @client.has_mailing_address? %></span></li>
            <li><span class="label">Phone:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.phone if @client.has_mailing_address? %></span></li>
            <li><span class="label">Email:</span><span class="value" rel="mailing_address"><%= @client.active_mailing_address.email if @client.has_mailing_address? %></span></li>
          </ul>
        </div>

        <div id="ov-info-cnt">
          <p>Billing Info</p>
          <ul>
            <li><span class="label">Name:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.name if @client.has_billing_info? %></span></li>
            <li><span class="label">Address:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.address if @client.has_billing_info? %></span></li>
			<li><span class="label">Phone:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.phone if @client.has_billing_info? %></span></li>
            <li><span class="label">Card Type:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.card_type if @client.has_billing_info? %></span></li>
            <li><span class="label">Card Number:</span><span class="value" rel="billing_info"><%= @client.active_billing_info.card_number if @client.has_billing_info? %></span></li>
          </ul>
        </div>
		<% form_for @client, :html => { :id => "client_edit_#{@client.id}", :class => 'hidden' } do |f| %><% end %>
		
      </div>

      <div id="ov-units">
        
	    <div id="ov-units-head">
          <h3>
            <span>My Units</span>
          </h3>
          <p>
            <a href="">Sort by address</a>
          </p>
        </div>

        <div id="rslt-list-bg">
		
			<% 1.upto(3) do |i| %>
	          <!-- The following div can be copied for each item -->
	          <div class="listing">
	            <div class="inner">
	              <img src="/images/ui/storagelocator/bobs-logo.gif" alt="" width="102" height="77" />
	              <div class="rslt-contact">
	                <h3>
	                  Uncle Bob's Self Storage
	                </h3>
	                <p>
	                  990 SW 18th St<br />
	                  Boca Raton, FL 33428
	                </p>
                
	              </div>
	              <ul>
	                <li class="rslt-miles">
	                  <span class="shifted-text"><strong>2</strong> miles</span>
	                </li>
	                <li class="rslt-offer">
	                  <span>FIRST MONTH FREE<br />
	                  Lowest price guaranteed!<br />
	                  Online Only Special</span>
	                </li>
	                <li class="rslt-reserve">
	                  <a href="">Edit</a>
	                </li>
	              </ul>
	            </div>
	          </div>
	        <% end %>

        </div>
      </div>
      
      <div id="ov-reports">
        <div id="ov-item-head">
          <h3>
            <span>Reports</span>
          </h3>
        </div>
        <div id="ov-reports-cnt">
          <ul>
            <li><%= link_to '<span>Clicks</span>', '#clicks', :id => 'clicks' %></li>
            <li><%= link_to '<span>Calls</span>', '#calls', :id => 'calls' %></li>
            <li><%= link_to '<span>Reservations</span>', '#reservations', :id => 'reservations' %></li>
          </ul>
        </div>
      </div>
      
      <div id="ov-settings">
        <div id="ov-item-head">
          <h3>
            <span>Settings</span>
          </h3>
        </div>
        <div id="ov-settings-cnt">
          <p>
            Content will go here...
          </p>
          <p>
            Content will go here...
          </p>
          <p>
            Content will go here...
          </p>
          <p>
            Content will go here...
          </p>
        </div>
      </div>
      
      <div id="sl-footer"></div>
      
    </div>
    <div class="clear"></div>

  </div>
</div>