<div id="<%= model_name(data.first) %>_model_index" class="box_view <%= model_name(data.first) %> index">
	<% data.each do |model| %>
	
		<div id="<%= model_id(model) %>" class="round box">
			<div class="inner">
			
				<% model.attributes.title_sort!.each_pair do |attribute, value| %>
					<% case attribute when 'id', 'parent_id' then next end %>
								
					<% case attribute when 'title', 'name' %>
						<h5 class="title"><%= link_to value, model %></h5>
					<% next end %>
				
					<% if model.respond_to?('image') && model.image.exists? %>
						<div class="<%= attribute %> image">
							<%= image_tag model.image.url(:thumb) %>
						</div>
					<% end %>
				
					<p class="<%= attribute %>">
						<%= display_nice(attribute, value) %>
					</p>
			
				<% end %>
				
			</div>
			
			<div class="buttons">
				<%= link_to 'Edit', edit_model_path(model) %>
				<%= link_to 'Destroy', model_path(model), :confirm => "Destroy #{model_name_or_title(model)}?", :method => :delete %>
			</div>
			
		</div>
		
	<% end %>
	
	<%= render :partial => 'views/paginate', :locals => { :data => data } %>
</div>