<fieldset>
	
	<div class="stack">
		<%= f.label :title, 'Nav Title' %>
		<div class="shadow_wrap">
			<%= f.text_field :title, :class => 'required' %>
		</div>
	</div>
  
  <div class="uncollapse stack">
  	<div class="check_box_wrap left right_space">
  		<%= f.check_box :show_in_nav %>
  		<%= f.label :show_in_nav, nil, :class => 'small_label' %>
  	</div>
	
  	<div class="check_box_wrap left">
  		<%= f.check_box :show_title %>
  		<%= f.label :show_title, 'Show Title', :class => 'small_label' %>
  	</div>
	</div>
	
	<div class="stack">
		<%= f.label :description, nil, :class => 'block_label' %>
		<div class="shadow_wrap">
			<%= f.text_area :description, :class => 'small_textarea' %>
		</div>
	</div>
	
	<div class="stack">
		<%= f.label :content, nil, :class => 'block_label' %>
		<div class="shadow_wrap">
			<%= f.text_area :content, :class => 'wysiwyg' %>
		</div>
	</div>
	
	<div class="stack uncollapse">
	  <%= render :partial => 'shared/models_module_fields', :locals => { :f => f, :model => @page } %>
	</div>
	
</fieldset>

<%= render :partial => 'shared/assoc_form',
	:locals => { :model_field => f, :model => @page, :fields_title => 'Blocks', :enabled_models => @page.enabled_blocks,
	:disabled_models => reject_blocks_enabled_on_this(@page, @blocks) } %>