<ul class="list_view plain">
	<% data.each do |model| %>
	
		<li id="<%= model_class_and_id(model) %>" class="medium_round <%= cycle('odd', 'even') %>">
			
			<div class="buttons right">
				<%= render :partial => 'shared/edit_delete_link', :locals => { :model => model } %>
			</div>
			
			<% if model.respond_to?('image') %>
  			<span class="left"><%= link_to image_tag(model.image.url), model.image %></span>
			<% end %>
			
			<span class="title">
				<%= link_to model_name_or_title(model), model_path(model) %>
			</span>
			
			<% if model.respond_to?('user') && model.user %>
				<span class="owner"> by&nbsp;<%= model.user.name.split(/\W/)[0] %></span>
			<% end %>
			
			<% if model.timestamp %>
				<span class="timestamp"> on&nbsp;<%= model.timestamp %></span>
			<% end %>
			
			<% if model.respond_to?('description') && model.description %>
				<span class="html_wrap">
					<%= model.description %>
				</span>
			<% end %>
			
		</li>
	
	<% end %>
</ul>