<div class="field_form stack uncollapse round box framed">
	
		<div class="uncollapse stack">
			
			<div class="left right_space">
				<%= label_tag 'field_type', 'Type' %>
				<%= select_tag 'form[fields_attributes][][field_type]', @form.option_tags_for(_field_types(false), nil, model, :field_type), :class => 'required', :title => 'Type of input', :disabled => disabled %>
				<%= hidden_field_tag 'form[fields_attributes][][id]', model.id unless model.new_record? %>
			</div>
			
			<div class="left uncollapse option_group round box right_space">
				<%= label_tag 'Validation: ', nil, :class => 'left note' %>
				<div class="left check_box_wrap">
					<%= check_box_tag 'form[fields_attributes][][required]', 1, model.validates?(:required), :disabled => disabled %>
					<%= label_tag 'field_required', 'Required', :title => 'Make this a required field' %>
				</div>
			
				<div class="left check_box_wrap">
					<%= check_box_tag 'form[fields_attributes][][email]', 1, model.validates?(:email), :disabled => disabled %>
					<%= label_tag 'field_email', 'Email', :title => 'Use for email fields to validate the input' %>
				</div>
			</div>
			
			<div class="left uncollapse option_group round box right_space">
				<%= label_tag 'Plugins: ', nil, :class => 'left note' %>
				<div class="left check_box_wrap">
					<%= check_box_tag 'form[fields_attributes][][hintable]', 1, model.has_plugin?(:hintable), :disabled => disabled %>
					<%= label_tag 'field_hintable', 'Hintable', :title => 'A text hint will appear within the field using the title attribute' %>
				</div>
			</div>
			
			<div class="left uncollapse option_group round box right_space">
				<div class="left check_box_wrap">
					<%= check_box_tag 'form[fields_attributes][][use_own_name]', 1, model.use_own_name?, :disabled => disabled %>
					<%= label_tag 'field_use_own_name', 'Use Own Name', :title => 'Useful for passing a parameter apart from the rest of the fields' %>
				</div>
			</div>
			
			<div class="left uncollapse option_group round box">
				<div class="left check_box_wrap">
					<%= label_tag 'field_position', 'Position', :title => 'Defines the order of the fields when they are rendered' %>
					<%= text_field_tag 'form[fields_attributes][][position]', model.position, :disabled => disabled, :class => 'tiny_text_field', :maxlength => 3 %>
				</div>
			</div>
			
			<%= render :partial => 'shared/addable_cancel_delete_links', :locals => { :model => model, :disabled => disabled } %>
			
		</div>
		
		<div class="half_fields uncollapse stack">
			
			<div class="left right_space">
				<%= label_tag 'field_attr_name', 'Name' %>
				<div class="shadow_wrap">
				  <span class="field_name hide"><%= model.name unless model.new_record? %></span>
					<%= select_tag 'form[fields_attributes][][name]', [], :class => 'required field_attr_name', :disabled => disabled %>
				</div>
			</div>
		
			<div class="left right_space">
				<%= label_tag 'field_attr_title', 'Title' %>
				<div class="shadow_wrap">
					<%= text_field_tag 'form[fields_attributes][][title]', model.field_title, :disabled => disabled %>
				</div>
			</div>
			
			<div class="left right_space">
				<%= label_tag 'field_attr_value', 'Value' %>
				<div class="shadow_wrap">
					<%= text_field_tag 'form[fields_attributes][][value]', model.field_value, :disabled => disabled %>
				</div>
			</div>
			
			<div class="left">
  			<%= label_tag 'field_attr_classes', 'Classes' %>
  			<div class="shadow_wrap">
  				<%= text_field_tag 'form[fields_attributes][][class]', model.field_classes, :disabled => disabled %>
  			</div>
  		</div>
		</div>
		
</div>