<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<%= stylesheet_link_tag @plugin_css, 'common' %>
		<%= ajaxful_rating_style %>
		<%= stylesheet_link_tag @theme_css %>
		
		<meta charset="utf-8" />
		<title><%= yield :title %></title>

		<%= site_meta_tags %>
		<%= yield :scripts %>
    
		<link rel="shortcut icon" type="image/x-ico" href="/favicon.ico" />
		
		<!--[if IE]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		
		<!--[if lte IE 7]>
			<link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
			<script type="text/javascript" src="javascripts/IE8.js"></script>
		<![endif]-->
	</head>
	<body id="<%= controller_name %>_controller" class="<%= action_name %>_action <%= page_name %>">
  	<%= render :partial => 'menus/menu' if current_user %>
		
		<!-- First set up a page container to take the header and main content -->
    <div id="page-ctr">

    		<!-- Now insert the header. This will sit in front of the repeating background --> 
        <div id="head-ctr">
    				 <!-- To align everything in the header correctly, it needs an inner container as well -->
    				 <div id="head-ctr-in">
        				 <div id="logo">
                   <img src="/images/ui/storagelocator/us-self-storage-locator-logo.png" alt="US Self Storage Locator" />
        				 </div>
        					
        					<div id="title">
        							<p class="hidden">US Self Storage Locator - Find self storage anywhere</p>
        					</div>
        					
        					<div id="top-nav">
      							<ul>
      									<li class="hidden"><a href="#top">Skip Navigation</a></li>
      									<li class="top-nav-login"><a href="/login">Login</a></li>
      									<li class="top-nav-help"><a href="">Help</a></li>
      							</ul>
        					</div>
        					
        					<div id="main-nav">
      							<ul class="sortable">
      								<%= render :partial => 'menus/nav', :collection => @nav_pages %>
      							</ul> 
        					</div>
    				 </div>
        </div>
    		<!-- End the header container -->

    		<!-- Now have the page container to hold a bottom background within the main repeating background. -->
        <div id="page-ctr-in">

    				 <!-- This area contains all the page content - The main editable area -  This will be relatively positioned to overlap the header -->
        		 <div id="page-cnt">

    							<div id="page-cnt-top-bg">
    							<div id="type-one-cnt-in">
    							<!-- Start the editable area -->
    							<a name="top"></a>
                    
                    <div id="content">
                      <div id="sidebar">
                        <%= yield :sidebar %>
                      </div>
                      
                      <%= yield %>
                      
                      <div id="column_5" class="region">
            						<%= yield :column_5 %>
            					</div>
                    </div>
         					  <!-- /the stuff -->

         						<div id="content_bottom" class="region">
         							<%= yield :content_bottom %>
         						</div>
                    <div class="clear"></div>
                    
    							<!-- End the editable area -->
    							</div>
        
    						</div>
        
    						<div class="clear"></div>


        		 </div>

    				 <!-- End main content area -->

    				 <!-- This empty div is used to create a space before the footer -->
        		 <div id="cnt-space"></div>
        </div>
    		<!-- Now end the page-container-inner -->

    </div>
    <!-- Now end the page-container-outer -->
    
    <%= yield :footer %>
	  
	  <%= javascript_include_tag 'ckeditor/ckeditor.js', 'jquery.all', @plugins %>
  	<%= @widgets_js.map { |js| javascript_include_tag js } %>
  	<%= javascript_include_tag 'application', 'plugins/greyresults' %>
	
	</body>
</html>